style
    include ./gmenu.css

.gmenu(id="sidebar__menu")
    .sidebar__content__copyright
    .sidebar__content__menu
        .sidebar__content__menu__about
            span Обо мне
        .sidebar__content__menu__services
            span Услуги
        .sidebar__content__menu__works
            span Мои работы
        .sidebar__content__menu__solutions
            span Готовые решения
        .sidebar__content__menu__contacts
            span Контакты
        .sidebar__content__menu__socials
            .sidebar__content__menu__socials__wahtsapp
            .sidebar__content__menu__socials__insta
        .sidebar__content__menu__bufer