style
    include ./scroll.css

.scroll
    svg
        line(y1="172" x2="315" y2="172" stroke="#FFFFFF" stroke-width="2")
        line(id="sidebar__content__scroll__progress" y1="172" x2="78" y2="172" stroke="#BD1218" stroke-width="2")
