.intro__title {
    height: 162px;
    width: 79.545454%;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    padding-left: 105px;
    padding-top: 149.16px;
}