style
    include ./__text.css

.intro__text Добро пожаловать! Я Саша Соло, дизайнер-архитектор. Занимаюсь проектированием загородной архитектуры и интерьеров жилых пространств, основанных на красоте, качестве и эргономике.
    br 
    br 
    |Мне интересно работать с разными стилями, в любом уголке мира.
    br 
    |Нет преград ни в форме общения, ни в рамках полномочий. Давайте создадим нечто интересное...