style
    include ./sidebar.css

.sidebar
    include ../header/header.pug
    include ../intro/intro.pug
    include ../gmenu/gmenu.pug
    include ../close/close.pug
    include ../order-button/order-button.pug
    include ../order-form/order-form.pug
