style
    include ./gallery.css

.gallery
    .gallery__back
        <svg>
            <circle id="gallery__back" cx="75" cy="75" r="74.5" fill="transparent" stroke="#FFFFFF" stroke-width="1"></circle>
            <line x1="88" y1="79" x2="163" y2="79" stroke="#FFFFFF" stroke-width="2" />
            <line x1="88" y1="79" x2="114" y2="71" stroke="#FFFFFF" stroke-width="2" />
        </svg>
    .gallery__forward
        <svg>
            <circle id="gallery__forward" cx="105" cy="75" r="74.5" fill="transparent" stroke="#FFFFFF" stroke-width="1"></circle>
            <line x1="92" y1="79" x2="17" y2="79" stroke="#FFFFFF" stroke-width="2" />
            <line x1="92" y1="79" x2="66" y2="71" stroke="#FFFFFF" stroke-width="2" />
        </svg>