body {
    background: #E5E5E5;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: Montserrat;
    overflow:auto;
}

.container {
    display: grid;
    grid-template-columns: [sidebar] 1fr [gallery] 2fr;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 930px;
    background: #111111;
}

.sidebar {
    grid-column: sidebar;
    grid-template-rows: [sidebar__header] 1fr [sidebar__content] 2fr;
    height: 100%;
    width: 660px;
}

.sidebar__header {
    display: grid;
    grid-row: sidebar__header;
    grid-template-columns: [sidebar__header__logo] 1fr [sidebar__header__buffer] 2fr [sidebar__header__menu] 3fr;
    width: 100%;
    height: 157px;
}

.sidebar__header__buffer {
    grid-column: sidebar__header__buffer;
    width: 249px;
    height: 100%;
}

.sidebar__header__logo {
    grid-column: sidebar__header__logo;
    background: url('../media/svg/logo.svg') no-repeat bottom right;
    width: 231px;
    height: 100%;
}

.sidebar__header__menu {
    display: grid;
    grid-column: sidebar__header__menu;
    grid-template-columns: [sidebar__header__menu__icon] 1fr [sidebar__header__menu__title] 2fr;
    width: 180px;
    height: 100%;
}

.sidebar__header__menu__icon {
    grid-column: sidebar__header__menu__icon;
    height: 100%;
    width: 70px;
    display: flex;
    align-items: flex-end;
}

.sidebar__header__menu__icon__lines {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    height: 8px;
    width: 50px;
    cursor: pointer;
}

.sidebar__header__menu__title {
    grid-column: sidebar__header__menu__title;
    height: 100%;
    width: 110px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 11px;
    color: #FAF9FA;
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

.sidebar__content {
    grid-row: sidebar__content;
    background: pink;
    width: 100%;
    height: 774px;
}

.gallery {
    grid-column: gallery;
    background: olive;
}
