body {
    background: #E5E5E5;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: Montserrat;
    overflow:hidden;
}

.container {
    display: grid;
    grid-template-columns: [sidebar] 1fr [gallery] 2fr;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 930px;
    background: #111111;
    overflow: hidden
}

.gallery {
    grid-column: gallery;
    position: relative;
    overflow: hidden;
}

.gallery__back {
    position: absolute;
    top: 390px;
    left: -60px;
    width: 90px;
    height: 150px;
    z-index:50;
    cursor: pointer;
}

.gallery__forward {
    position: absolute;
    top: 390px;
    right: -1px;
    width: 120px;
    height: 150px;
    z-index: 50;
    cursor: pointer;
}

.gallery__slide {
    position: absolute;
    width: 721px;
    height: 930px;
    
}

.gallery__slide__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: 0;
}

.gallery__slide:not([class="gallery__slide__active"]) {
}

.gallery__slide__active {

}

.gallery__slide__title {
    position: absolute;
    width: 211px;
    height: 55px;
    top: 828px;
    left: 75px;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.gallery__slide__title__link {
    width: 115px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 33px;
    color: #FFFFFF;
}

.gallery__slide__title__link__arrow {
    float: right;
    width: 14.95px;
    height: 36px;
    background: url('../media/svg/arrow.svg') no-repeat center ;
}

.sidebar {
    grid-column: sidebar;
    grid-template-rows: [sidebar__header] 1fr [sidebar__content] 2fr;
    height: 100%;
    width: 660px;
}

.sidebar__button {
    position: absolute;
    width: 220px;
    height: 150px;
    left: 420px;
    top: 694px;
}

.sidebar__button__title {
    position: absolute;
    width: 155px;
    height: 22px;
    left: 65px;
    top: 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

    .sidebar__button__title span {
        color: #BC1118;
    }

.sidebar__content {
    display: grid;
    grid-row: sidebar__content;
    grid-template-rows: [sidebar__content__title] 1fr [sidebar__content__text] 2fr [sidebar__content__scroll] 3fr [sidebar__content__buffer] 4fr;
    width: 100%;
    height: 774px;
}

.sidebar__content__scroll {
    grid-row: sidebar__content__scroll;
    width: 545px;
    height: 173px;
    margin-left: 105px;
}

.sidebar__content__text {
    grid-row: sidebar__content__text;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FAF9FA;
    height: 281px;
    width: 315px;
    margin-left: 105px;
    display: flex;
    align-items: flex-end;
}

.sidebar__content__title {
    grid-row: sidebar__content__title;
    height: 269px;
    width: 525px;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
    margin-left: 105px;
    display: flex;
    align-items: flex-end;
}

.sidebar__header {
    display: grid;
    grid-row: sidebar__header;
    grid-template-columns: [sidebar__header__logo] 1fr [sidebar__header__buffer] 2fr [sidebar__header__menu] 3fr;
    width: 100%;
    height: 157px;
}

.sidebar__header__buffer {
    grid-column: sidebar__header__buffer;
    width: 249px;
    height: 100%;
}

.sidebar__header__logo {
    grid-column: sidebar__header__logo;
    background: url('../media/svg/logo.svg') no-repeat bottom right;
    width: 231px;
    height: 100%;
}

.sidebar__header__menu {
    display: grid;
    grid-column: sidebar__header__menu;
    grid-template-columns: [sidebar__header__menu__icon] 1fr [sidebar__header__menu__title] 2fr;
    width: 180px;
    height: 100%;
}

.sidebar__header__menu__icon {
    grid-column: sidebar__header__menu__icon;
    height: 100%;
    width: 70px;
    display: flex;
    align-items: flex-end;
}

.sidebar__header__menu__icon__lines {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    height: 8px;
    width: 50px;
    cursor: pointer;
}

.sidebar__header__menu__title {
    grid-column: sidebar__header__menu__title;
    height: 100%;
    width: 110px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 11px;
    color: #FAF9FA;
    display: flex;
    align-items: flex-end;
}
