style
    include ./order-form.css

.order-form
    .sidebar__order__title Заказать проект
    .sidebar__order__name
        input(placeholder="Имя*")
    .sidebar__order__phone
        input(type="tel" placeholder="Телефон*")
    .sidebar__order__mail
        input(placeholder="E-mail")
    .sidebar__order__message
        textarea
    .sidebar__order__agreement
        .sidebar__order__agreement__checkBox 
        .order-form__agreement Я согласен(на) на обработку персональных данных