.order-form {
    position: absolute;
    visibility: hidden;
    top: 157px;
    width: 100%;
    height: 598px;
    color: var(--primary-light);
    display: grid;
    grid-template-rows: [sidebar__order__title] 1fr [sidebar__order__name] 2fr [sidebar__order__phone] 3fr [sidebar__order__mail] 4fr [sidebar__order__message] 5fr [sidebar__order__agreement] 6fr;
}

    .order-form div {
        display: flex;
        align-items: flex-end;
    }

        .order-form div input {
            height: 60px;
            width: 45%;
            padding-left: 32px;
            font-style: normal;
            font-weight: normal;
            font-size: 27px;
            line-height: 31px;
        }

            .order-form div input::-webkit-input-placeholder {
                font-size: 16px;
                line-height: 20px;
            }

            .order-form div input::-moz-placeholder {
                font-size: 16px;
                line-height: 20px;
            }

            .order-form div input:-moz-placeholder {
                font-size: 16px;
                line-height: 20px;
            }

            .order-form div input:-ms-input-placeholder {
                font-size: 16px;
                line-height: 20px;
            }

.sidebar__order__name {
    height: 100px;
    width: 100%;
    padding-left: 20%;
}

.sidebar__order__phone {
    height: 80px;
    width: 100%;
    padding-left: 20%;
}

.sidebar__order__mail {
    height: 80px;
    width: 100%;
    padding-left: 20%;
}

.sidebar__order__message {
    height: 148px;
    width: 100%;
    padding-left: 20%;
}

    .sidebar__order__message textarea {
        height: 108px;
        width: 45%;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 31px;
        padding-left: 32px;
        padding-top: 20px;
    }

.sidebar__order__agreement {
    position: relative;
    height: 40px;
    width: 55%;
    padding-left: 20%;
}

.order-form__agreement{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.sidebar__order__agreement__checkBox {
    height: 30px;
    width: 30px;
    background: var(--primary-light);
    margin-right: 10px;
    line-height: 40px;
}

.sidebar__order__agreement__checkBox__checked {
    background: var(--primary-light) url('../media/svg/check.svg') no-repeat center;
}

.sidebar__order__title {
    height: 150px;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: flex-end;
    padding-left: 20%;
}